<p class="text-center">user-details works!</p>

<div *ngIf="allowedEdit" class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <form autocomplete="off">
        <input
          type="text"
          class="form-control mb-3"
          name="name"
          [(ngModel)]="name"
        />
      </form>
    </div>
  </div>
</div>

<p class="text-center text-success">{{ name }}</p>

<div class="d-flex justify-content-center">
  <button class="btn btn-primary" (click)="handleClick()">Go Back</button>
</div>
